{% extends 'base.html.twig' %}

{% block title %}Modifier le films{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Modifier le films</h1>

    {{ include('films/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('films_index') }}"class="btn btn-primary m-2">Revenir à la liste de films</a>

    {{ include('films/_delete_form.html.twig') }}
{% endblock %}
