{% extends 'base.html.twig' %}

{% block title %}New Films{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un nouveau film</h1>

    {{ include('films/_form.html.twig') }}

    <a href="{{ path('films_index') }}" class="btn btn-primary">Revenir à la liste de films</a>
{% endblock %}
